ul {
      list-style-type: none;
   font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    overflow: hidden;
    background-color: #b30000;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  a {
  color:blue;
  -o-transition:color .2s ease-out, background 0.6s ease-in;
  -ms-transition:color .2s ease-out, background 0.6s ease-in;
  -moz-transition:color .2s ease-out, background 0.6s ease-in;
  -webkit-transition:color .2s ease-out, background 0.6s ease-in;
  transition:color .2s ease-out, background 0.6s ease-in;
}
a:hover { color: white; background: #990000; }
  
  body{
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/ac/Bamboo_cutting_board_surface_texture_2014_02.jpg") no-repeat top center fixed;
    background-size: cover;
    margin:  0;
    padding: 0;
    height: 100%;
    width: 100%;
} 
.column.left {
    border-radius: 19px;
    background: #b30000;
    padding: 20px; 
    width: 200px;
    height: 150px;
    margin-left: 45px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px; 
}
        h1
        {
          font-family: Verdana, Geneva, sans-serif;
          font-size: 60px;
          text-align: center;
          background: transparent;
          padding: 10px;
          margin-left: 640px;
          margin-right: 640px;
          }
        div
        {
          margin-left: 350px;
          margin-right: 75px;
          font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
          font-size: 20px;
          
        }
        
        .column {
          float: left;
          padding: 8px;
          font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
          font-size: 20px;
        }
        
        .column.middle {
          margin-left: 120px;
          margin-right: 100px;
          width: 50%;
        }
         
            
              .column.right {
               margin-left: 20px;
               width: 50%;
               font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
               font-size: 20px;
              }
        footer {
          border-top: 1px solid black;
          padding: 10px 20px;
          text-align: center;
          font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
          margin-left: 250px;
          margin-right: 250px; 
        }
              
              .navleft {float:left; width: 50%;} .navright {float:right; width: 50%;} .tabs-inner .widget ul {margin-right: 0px; margin-left: 0px;}
.CLASSNAME {background: #b30000;}

p {
  font-family: "impact", Charcoal, sans-serif;
  font-size: 15px;
  align-content: center;
}

h2 {
  font-family: "impact ", Charcoal, sans-serif;
  font-size: 68px;
}
